/* common */

body {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#column {
    margin: 2em auto 2em auto;
    max-width: 50em;
    font-size: 110%;
}

.menu .home {
    font-size: 32;
    font-variant: small-caps;
    margin-right: 1em;
}

.menu .home a {
    background-color: white;
    color: black;
    text-decoration: none;
}

#footer {
    margin-top: 2em;
    border-top: 4px solid #eee;
    font-size: 80%;
}

#contacts {
    margin-top: 1em;
}

#contacts a {
    background: yellow;
    color: black;
    text-decoration: none;
}

#contacts b {
    font-weight: bold;
}

.publisher-anchor-color a {
    color: rgb(0, 0, 0) !important;
}