.cst .header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.cst .brim {
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.cst .brim h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.cst .brim h3 {
    text-align: left;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0.5em;
}

.cst .brim h4 {
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0.5em;
}

.cst .brim h5 {
    text-align: left;
    font-size: 1em;
    font-weight: bold;
    margin-top: 0.5em;
}

.cst .brim p {
    margin-top: 0.5em;
}

.cst .brim .strikethrough {
    text-decoration: line-through;
}

.cst .brim blockquote {
    margin-top: 0.5em;
    margin-left: 1em;
    border-left-width: 0.5em;
    border-left-style: solid;
    padding-left: 0.4em;
}

.cst .brim li blockquote {
    margin-left: 0em;
}

.cst .brim dl {
    margin-top: 0.5em;
}

.cst .brim dl dd {
    padding-left: 2em;
}

.cst .brim dl dt {
    font-weight: bold;
    font-family: monospace;
}

.cst .brim .edge {
    margin-top: 0 !important;
}

.cst .brim .link {
    background: yellow;
    color: black;
    text-decoration: none;
}

.cst .brim .title a {
    color: black;
    font-family: monospace;
    font-weight: bold;
}

.cst .brim pre {
    font-family: monospace;
}

.cst .brim ul {
    margin-top: 0.5em;
    padding-left: 2em;
    list-style-type: square;
}

.cst .brim ul li {
    line-height: 1.3em;
    margin-top: 0.4em;
}

.cst .brim ol {
    margin-top: 0.5em;
    padding-left: 2em;
    list-style-type: square;
    list-style-type: decimal;
}

.cst .brim ol li {
    line-height: 1.3em;
    margin-top: 0.4em;
}

.cst .brim img {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cst .brim .vert {
    margin-top: 2em;
}

.cst .alt {
    background-color: #EEFFEE;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.cst .comparison1 {
    margin-top: 0.5em;
}


.cst .brim .isolation1 {
    margin-top: 0.5em;
}

.cst .brim .isolation1 td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

.cst .brim .isolation1 th {
    padding: 6px 13px;
    border: 1px solid #ddd;
    font-weight: bold;
    font-family: monospace;
}

.cst .brim .performance1 .title {
    font-weight: bold;
    font-family: monospace;
}

.cst .brim .performance1 {
    margin-top: 0.5em;
}

.cst .brim .performance1 td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

.cst .brim .performance1 th {
    padding: 6px 13px;
    border: 1px solid #ddd;
    font-weight: bold;
    font-family: monospace;
}

.cst .brim .performance1 .title {
    font-weight: bold;
    font-family: monospace;
}

.cst .brim .logboard h4 {
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0em;
}

.cst .brim .logboard {
    margin-top: 0.5em;
}

.cst .brim .logboard td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

.cst .brim .logboard .title {
    font-weight: bold;
    font-family: monospace;
}

.cst .brim .logboard .author {
    font-style: italic;
}

.cst .brim .it {
    font-style: italic;
}

.cst .brim .code {
    font-family: monospace;
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.cst .qed {
    font-weight: bold;
    font-size: 110%;
    margin-left: auto;
    width: 4em;
    margin-top: 0.7em;
}

.cst .brim .gist {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* pacified */

span.bold {
    font-weight: bold;
}

.cst .abstract-brim {
    padding-bottom: 1em;
}

.cst .abstract-brim .content {
    border-left-width: 0.5em;
    border-left-color: black;
    border-left-style: solid;
    border-right-width: 0.5em;
    border-right-color: black;
    border-right-style: solid;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.cst .brim table.consensus1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.cst .brim .consensus1 th {
    padding: 0.4em;
}

.cst .brim .consensus1 td {
    padding-left: 0.4em;
    padding-right: 0.4em;
}

.cst .brim .consensus1 .top {
    padding-top: 0.4em;
}

.cst .brim .consensus1 .bottom {
    padding-bottom: 0.4em;
}

.cst .brim .consensus1 tr.title {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.cst .brim table.consensus2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.cst .brim .consensus2 th {
    padding: 0.4em;
}

.cst .brim .consensus2 td {
    padding: 0.4em;
}

.cst .brim .consensus2 .left {
    border-right-style: solid;
    border-right-width: 1px;
}

.cst .brim .consensus2 tr.title {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.cst .brim table.performance2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.cst .brim .performance2 th {
    padding: 0.4em;
}

.cst .brim .performance2 td {
    padding: 0.4em;
}

.cst .brim .performance2 .left {
    border-right-style: solid;
    border-right-width: 1px;
}

.cst .brim .performance2 tr.title {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.cst .brim img.mw45 {
    max-width: 45em;
}

.cst .brim img.mw25 {
    max-width: 25em;
}

.cst .brim span.vector-clocks {
    background-color: lightpink;
}

.cst .brim span.retry-timeout {
    background-color: lightblue;
}

.cst .brim span.batch {
    background-color: lightseagreen;
}

.cst .brim span.fetch {
    background-color: lightgray;
}

.cst .brim span.inmem {
    background-color: yellow;
}

.cst .brim .pacified1 pre {
    font-size: 0.6em;
}

.cst .brim table.pacified1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.cst .brim .pacified1 td {
    padding: 0.4em;
}

.cst .brim .pacified1 .left {
    border-right-style: solid;
    border-right-width: 1px;
}

.cst .brim .pacified1 tr.title {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}