.front .who_am_i {
    position: relative;
    min-height: 150px;
}

.front .who_am_i img {
    width: 150px;
    position: absolute;
}

.front .who_am_i .dossier {
    padding-top: 0.3em;
    margin-left: 150px;
    padding-left: 1em;
}

.front .who_am_i .amazon {
    margin-top: 1.5em;
    font-weight: bold;
}
