
/* common */

body {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#column {
    margin: 2em auto 2em auto;
    max-width: 50em;
    font-size: 110%;
}

.menu .home {
    font-size: 32;
    font-variant: small-caps;
    margin-right: 1em;
}

.menu .home a {
    background-color: white;
    color: black;
    text-decoration: none;
}

/* hpw */

.hpw .abstract {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.7em;
}
.hpw .abstract h1 {
    font-size: 2em;
    font-weight: bold;
}
.hpw .abstract p {
    margin-top: 0.5em;
}
.hpw .abstract .label {
    font-style: normal;
    font-weight: bold;
}
.hpw .abstract .text {
    font-style: italic;
}


.hpw #overview {
    margin-top: 1.5em;
}


.hpw .brim {
    padding-left: 0.7em;
    padding-right: 0.7em;
}


.hpw .brim blockquote {
    font-size: 1.3em;
    color: #777777;
    margin-top: 0.7em;
}
.hpw .brim #what-is-paxos {
    margin-top: 0;
}

.hpw .brim p {
    margin-top: 0.5em;
}


.hpw .brim img {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


.hpw .brim ol {
    margin-top: 0.5em;
    list-style-type: decimal;
    padding-left: 40px;
}
.hpw .brim li { }


.hpw .brim .gist {
    margin-top: 1em;
    margin-bottom: 1em;
}


.hpw .brim table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.7em;
    border-spacing: 10px 2px;
    border-collapse: separate;
}
.hpw .brim th {
    font-weight: bold;
}
.hpw .brim .abbr {
    text-align: center;
}


.hpw .brim .theorem .label {
    font-weight: bold;
}
.hpw .brim .theorem .text {
    margin-left: 2em;
}


.hpw .brim .lemma .label {
    font-weight: bold;
}

.hpw .lemma1 {
    background-color: #EEFFEE;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}


.qed {
    font-weight: bold;
    font-size: 110%;
    margin-left: auto;
    margin-right: auto;
    width: 4em;
    margin-top: 0.7em;
}
