p {
    margin-top: 0.5em;
}

h1 {
    margin-top: 0.8em;
}

h2 {
    margin-top: 0.7em;
}

h3 {
    margin-top: 0.5em;
}

.gist {
    margin-top: 1em;
}

.remark {
    font-size: 80%;
    color:  #7A7A7A;
}

.code {
    font-family: monospace;
}

#low_internet {
	margin-top: 2em;
}

#what_is_cap {
  list-style: none;
  padding-left: 2em;
}

#what_is_cap li {
  position: relative;
}

#what_is_cap span {
  position: absolute;
  left: -1.3em;
  font-weight: bold;
}

.center-pic {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.sharded-paxos-pic {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
