p {
    margin-top: 0.5em;
}

h1 {
    margin-top: 0.8em;
}

h2 {
    margin-top: 0.7em;
}

h3 {
    margin-top: 0.5em;
}

.gist {
    margin-top: 1em;
}

.remark {
    font-size: 80%;
    color:  #7A7A7A;
}

.code {
    font-family: monospace;
}

#low_internet {
	margin-top: 2em;
}
