/* raft-paxos */

.raft-paxos .brim .twitter-tweet {
    margin-top: 1em !important;
    margin-bottom: 1 !important;
    margin-left: auto;
    margin-right: auto;
}

.raft-paxos .brim h3 {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}
.raft-paxos .brim h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.raft-paxos .brim h4 {
    text-align: left;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0.5em;
}
.raft-paxos #raft-paxos1 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}


.raft-paxos .brim {
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.raft-paxos .brim .link {
    background: yellow;
    color: black;
    text-decoration: none;
}


.raft-paxos .brim p {
    margin-top: 0.5em;
}
.raft-paxos .brim .edge {
    margin-top: 0 !important;
}

.raft-paxos .brim ul {
    margin-top: 0.5em;
    padding-left: 40px;
    list-style-type: square;
}

.raft-paxos .brim li {
    line-height: 1.3em;
}

.raft-paxos .brim ol {
    margin-top: 0.5em;
    padding-left: 40px;
    list-style-type: decimal;
}


.raft-paxos .brim .principle {
    margin-top: 0.5em;
}

.raft-paxos .brim .principle .title {
    font-weight: bold;
}

.raft-paxos .alt {
    background-color: #EEFFEE;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.raft-paxos .principles1 {
    margin-top: 0.5em;
}

.raft-paxos .it {
    font-style: italic;
}

.raft-paxos .brim .roman > li {
    list-style-type: upper-roman !important;
}

.raft-paxos .brim .comment {
    font-style: italic;
    color: #888888;
}

.raft-paxos .brim .alg1 li {
    margin: 5px 0 5px 0;
}

.raft-paxos .brim img {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.raft-paxos .brim .conf {
    font-weight: bold;
}

.raft-paxos .b {
    font-weight: bold;
}

.raft-paxos .qed {
    font-weight: bold;
    font-size: 110%;
    margin-left: auto;
    width: 4em;
    margin-top: 0.7em;
}
