.vpaxos .brim h3 {
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0.5em;
}
.vpaxos .brim h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.vpaxos .brim h4 {
    text-align: left;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0.5em;
}
.vpaxos #vpaxos1 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.vpaxos .b {
    font-weight: bold;
}

.vpaxos .brim {
    padding-left: 0.7em;
    padding-right: 0.7em;
}

.vpaxos .brim .link {
    background: yellow;
    color: black;
    text-decoration: none;
}


.vpaxos .brim .twitter-tweet {
    margin-top: 1em !important;
    margin-bottom: 1 !important;
    margin-left: auto;
    margin-right: auto;
}


.vpaxos .brim p {
    margin-top: 0.5em;
}
.vpaxos .brim .edge {
    margin-top: 0 !important;
}


.tx-props {
    margin-top: 1em;
    margin-bottom: 1em;
}

.tx-props th {
    border: 1px solid;
    background-color: #BBBBBB;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: right;
}

.tx-props td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.extra-step {
    background-color: rgba(96, 255, 0, 0.26);
}


.vpaxos .brim ul {
    margin-top: 0.5em;
    padding-left: 40px;
    list-style-type: square;
}

.vpaxos .brim li {
    line-height: 1.3em;
}

.vpaxos .brim ol {
    margin-top: 0.5em;
    padding-left: 40px;
    list-style-type: decimal;
}


.vpaxos .alt {
    background-color: #EEFFEE;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.vpaxos it {
    font-style: italic;
}

.vpaxos .brim img {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.vpaxos .b {
    font-weight: bold;
}

.vpaxos b {
    font-weight: bold;
}