---
layout: default
title: Rystsov's site
---

<p>Hello, my name is Denis Rystsov. I love to dream, think, travel and work on complicated problems that may lead to aha!&nbsp;moments.</p>

<div class="section">
<b>The postings on this site are my own and don't necessarily represent Amazon's position. They don't relate to Amazon or any of its businesses, to my role at Amazon or to any of its products or services.</b>
</div>

<div class="section">
    <h1>Blog</h1>
    <div class="postlinks">
        {% for post in site.tags.misc %}
        <div class="postlink">
            <div class="date">{{ post.date | | date: "%Y-%m-%d" }}</div>
            <a href="{{ post.url }}">{{ post.name }}</a>
            <div class="desc">{{ post.desc }}</div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="section">
    <h3>Past (inactive) pet projects</h3>
    <div class="postlinks">
        {% for post in site.tags.pet %}
        <div class="postlink">
            <div class="date">{{ post.date | | date: "%Y-%m-%d" }}</div>
            <a href="{{ post.url }}">{{ post.name }}</a>
            {% if post.abstract %}
                <div class="desc">{% include {{post.abstract}} %}</div>
            {% else %}
                <div class="desc">{{ post.desc }}</div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
