---
layout: default
title: Rystsov's site
marker: front
---

<div class="who_am_i">
    <img src="{{ site.url }}/images/me.jpeg" />
    <div class="dossier">
        <div class="me">Hello, my name is Denis Rystsov. I love to dream, think, travel and work on complicated problems that may lead to aha!&nbsp;moments.</div>

        <div class="amazon">The postings on this site are my own and don't necessarily represent Amazon's position. They don't relate to Amazon or any of its businesses, to my role at Amazon or to any of its products or services.</div>
    </div>
</div>

<div class="section">
    <h1>Blog</h1>
    {% include postlinks.html posts=site.tags.pre_distr %}
    <div class="key_value_design">
      <h3><a id="distr_key_value" class="anchor">Designing a distributed key/value storage</a></h3>
      <div class="abstract">A series of posts describing how to design a distributed key/value storage</div>
      {% assign distr = site.tags.distr | reverse %}
      {% include postlinks.html posts=distr %}
    </div>
    {% include postlinks.html posts=site.tags.misc %}
</div>

<div class="section">
    <h3>Past (inactive) pet projects</h3>
    <div class="postlinks">
        {% for post in site.tags.pet reversed %}
        <div class="postlink">
            <div class="date">{{ post.date | | date: "%Y-%m-%d" }}</div>
            <a href="{{ post.url }}">{{ post.name }}</a>
            {% if post.abstract %}
                <div class="desc">{% include {{post.abstract}} %}</div>
            {% else %}
                <div class="desc">{{ post.desc }}</div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
