---
layout: default
title: Rystsov's site
marker: front
---

<div class="who_am_i">
    <img src="{{ site.url }}/images/me.jpeg" />
    <div class="dossier">
        <div class="me">Hi, I'm Denis Rystsov. Distributed systems engineer by day, citizen scientist by night.</div>
    </div>
</div>

<div class="section">
    <h1>Blog</h1>
    {% include postlinks.html posts=site.tags.pre_distr %}
    <div class="key_value_design">
      <h3><a id="distr_key_value" class="anchor">Designing a distributed key/value storage</a></h3>
      <div class="abstract">A series of posts describing how to design a distributed key/value storage</div>
      {% assign distr = site.tags.distr | reverse %}
      {% include postlinks.html posts=distr %}
    </div>
    {% include postlinks.html posts=site.tags.misc %}
</div>
