.evil-scheduler {
    font-size: 12pt;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.evil-scheduler .details {
    color: blue;
}

.evil-scheduler .thread-view .thread-control {
    margin-bottom: 3px;
}

.evil-scheduler .thread-view .tv-btn {
    position: relative;
    bottom: 1px;
    margin-left: 3px;
}

.evil-scheduler .thread-view .tv-status {
    margin-left: 3px;
}

.evil-scheduler .codeView {
    padding: 5px;
    color: #F8F8F2;
    font-size: 0.8em;
    font-family: Monaco, monospace;
    background-color: #282828;
}

.evil-scheduler .codeView .function {
    color: #66D9EF;
    font-style: italic;
}

.evil-scheduler .codeView .var {
    color: #66D9EF;
    font-style: italic;
}

.evil-scheduler .codeView .return {
    color: #F92672;
}

.evil-scheduler .codeView .bool {
    color: #ae82ff;
}

.evil-scheduler .codeView .while {
    color: #F92672;
}

.evil-scheduler .codeView .if {
    color: #F92672;
}

.evil-scheduler .codeView .else {
    color: #F92672;
}

.evil-scheduler .codeView .try {
    color: #F92672;
}

.evil-scheduler .codeView .catch {
    color: #F92672;
}

.evil-scheduler .codeView .fun-name {
    color: #A6E22E;
}

.evil-scheduler .codeView .number {
    color: #7FB347;
}

.evil-scheduler .codeView .string {
    color: #e7db75;
}

.evil-scheduler .codeView .this {
    color: #D197D9;
}

.evil-scheduler .codeView .code_link {
    text-decoration: underline;
    color: #FD971F;
    cursor: pointer;
}

.evil-scheduler pre {
    margin: 0;
}