.evil-scheduler {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.evil-scheduler .menu {
    padding-top: 7px;
    padding-bottom: 7px;
}

.evil-scheduler .menu span {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: 5px;
    font-weight: bold;
}

.evil-scheduler .menu span.curr {
    background-color: #DDDDDD;
    color: black;
}

.evil-scheduler .menu span.free {
    background-color: white;
    color: black;
    text-decoration: inherit;
    cursor: pointer;
}

.evil-scheduler .menu span.dis {
    color: #888888;
}


.evil-scheduler .value-table table {
    border-bottom: 1px solid;
}
.evil-scheduler .commit-table table {
    border-bottom: 1px solid;
}
.evil-scheduler .proposer-table table {
    border-bottom: 1px solid;
}


.evil-scheduler .db2-view h3 {
    font-size: 1.5em;
}
.evil-scheduler .db2-table {
    border-collapse: collapse;
}
.evil-scheduler .db2-table th {
    border: 1px solid;
    text-align: center;
    background-color: #CCCCCC;
    padding-left: 5px;
    padding-right: 5px;
}
.evil-scheduler .db2-table .prop {
    border: 1px solid;
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.evil-scheduler .value-table .prop {
    border-top: 0 solid;
    border-bottom: 0 solid;
}
.evil-scheduler .commit-table .prop {
    border-top: 0 solid;
    border-bottom: 0 solid;
}
.evil-scheduler .proposer-table .prop {
    border-top: 0 solid;
    border-bottom: 0 solid;
}

.evil-scheduler .db2-table th.empty {
    border: 0px solid;
    background-color: white;
}

.evil-scheduler .proposer-table {
    margin-top: 15px;
}

.evil-scheduler .proposer-table .broadcast {
    margin-top: 5px;
}

.evil-scheduler .proposer-table .broadcast .title {
    margin-bottom: 3px;
    font-weight: 400;
}

.evil-scheduler .proposer-table .broadcast button {
    margin-right: 3px;
}

.evil-scheduler .value-table .gc {
    margin-left: 5px;
}

.evil-scheduler .value-table .gc button {
    position: relative;
    bottom: 3px;
}




.evil-scheduler .sourceCode.fun {
    margin-top: 3px;
}

.evil-scheduler b {
    font-weight: bold;
}

/* columns */

.evil-scheduler .first-td {
    vertical-align: text-top;
}
.evil-scheduler .second-td {
    vertical-align: text-top;
    padding-left: 5px;
}
.evil-scheduler .third-td {
    vertical-align: text-top;
    padding-left: 5px;
}

/* */

.evil-scheduler .third-td h3 {
    font-size: 1.1em;
    margin-bottom: 2px;
    font-weight: bold;
}

.evil-scheduler .second-td > .codeView {
    margin-bottom: 5px;
}


/* threadControl */

.evil-scheduler .threadview .threadControl {
    margin-top: 3px;
}

.evil-scheduler .threadview .threadControl span {
    margin-left: 0.5em;
    font-size: 1em;
}

/* varview */

.evil-scheduler .var-table {
    border-collapse: collapse;
}
.evil-scheduler .var-name {
    text-align: right;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: 500;
    position: relative;
    top: -1px;
}
.evil-scheduler .var-value {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.evil-scheduler .value-table {
    border-collapse: collapse;
}
.evil-scheduler .value-table th.header {
    border: 1px solid;
    text-align: center;
    background-color: #CCCCCC;
    padding-left: 5px;
    padding-right: 5px;
}
.evil-scheduler .value-table th.header.prop {
    padding-top: 2px;
    padding-bottom: 2px;
}
.evil-scheduler .value-table th.empty { }
.evil-scheduler .value-table-obj .prop {
    border: 1px solid;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}


/* dbview, txview */

.evil-scheduler .dbview table {
    border-collapse: collapse;
}
.evil-scheduler .dbview td {
    border: 1px solid;
    text-align: right;
    padding-right: 3px;
}
.evil-scheduler .dbview th {
    min-width: 2em;
    padding-left: 4px;
    padding-right: 4px;
}
.evil-scheduler .dbview .header th {
    padding-bottom: 3px;
    text-align: center;
}


.evil-scheduler .txview table {
    border-collapse: collapse;
}
.evil-scheduler .txview td {
    border: 1px solid;
    text-align: right;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.evil-scheduler .txview th {
    min-width: 2em;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.evil-scheduler .txview .header th {
    padding-bottom: 3px;
    text-align: center;
}